
<html><head>  <meta charset="utf-8">  <title>Correferential solvage</title> </head><body><form method='POST' action='/Main/analyze'><p><textarea name=text rows=15 style='width:100%'></textarea></p><p><input name=submit type=submit value=Analyze></p></form></body></html>


